body {
  margin: 0;
  font-family: Arial;
  background: #0f0f0f;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #202020;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo span {
  color: red;
}

#search {
  width: 40%;
  padding: 8px;
  border-radius: 20px;
  border: none;
}

.video-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.video-card {
  background: #181818;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.video-card img {
  width: 100%;
}

.video-info {
  padding: 10px;
}
